input-placeholder {
    text-align:center;
}

body {
    background-image: url(../img/back2.png);
    background-attachment: fixed;
    background-size: cover;
}

.content-container {
    margin: 0 auto;
    height: 400px;
    width: 80%;
    background-color: rgba(255, 255, 255, 0.31);
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.start-but {
    background-color: rgba(240, 248, 255, 0);
    border: none;
    font-family: 'Open Sans', sans-serif;
    color: white;
    border: 2px solid white;
    display: inline-block;
    position: relative;
    padding: 20px 70px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    margin-right: 10px;
    cursor: pointer;
}

.start-but:hover {
    color: #d1aaff;
    box-shadow: 0px 6px 0px -3px #000000;
    border: 2px solid #d1aaff;
}

input {
     width: 30%;
    height: 30px;
   border: 3px solid white;
   border-radius: 5px; 
   -webkit-border-radius: 5px; 
   -moz-border-radius: 5px; 
   -khtml-border-radius: 5px; 
   background: #ffffff !important; 
   outline: none;
    text-align: center;
}

input:focus {
  outline: none;
  color: #000000;
  border: 3px solid #000000;
  box-shadow: 0 0 50px rgba(0,0,0,0.5);
}

.your-time {
    font-family: 'Open Sans', sans-serif;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
}

.game-done {
    font-family: 'Open Sans', sans-serif;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
}
